@charset "UTF-8";
@font-face {
  font-family: Lato;
  src: url("../../font/Lato-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

li {
  list-style: none;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.header-mobile .show {
  height: 60px;
  background-color: #FFFFFF;
  padding: 0 19.4px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mobile .show img {
  cursor: pointer;
}
.header-mobile .filter {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 100%;
  opacity: 0;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.header-mobile .filter .toggle-menu {
  width: 75%;
  height: 100%;
  background-color: #FFFFFF;
  float: right;
  position: relative;
  padding: 60px 20px 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-direction: column;
}
.header-mobile .filter .toggle-menu .x-img {
  width: 26px;
  position: absolute;
  top: 14px;
  left: -32px;
  cursor: pointer;
}
.header-mobile .filter .toggle-menu .navbar {
  padding: 0;
}
.header-mobile .filter .toggle-menu .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-mobile .filter .toggle-menu .navbar ul .nav-link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #828282;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.header-mobile .filter .toggle-menu .navbar ul .nav-link.active {
  color: #F90729;
}
.header-mobile .filter .toggle-menu .social .messenger {
  width: 40px;
  cursor: pointer;
}
.header-mobile .filter .toggle-menu .social .zalo, .header-mobile .filter .toggle-menu .social .phone {
  margin-top: 13px;
  width: 100%;
  max-width: 220px;
  height: 50px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: #00ACD4;
  padding: 0 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-mobile .filter .toggle-menu .social .zalo img, .header-mobile .filter .toggle-menu .social .phone img {
  width: 40px;
  margin-right: 10px;
}
.header-mobile .filter .toggle-menu .social .zalo p, .header-mobile .filter .toggle-menu .social .phone p {
  color: #F2F2F2;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
}
.header-mobile .filter .toggle-menu .social .phone {
  padding: 0 13px;
  background-color: #F90729;
}
.header-mobile .filter .toggle-menu .social .phone img {
  width: 22px;
  margin-right: 23px;
}
.header-mobile .filter .toggle-menu .social .phone p a {
  color: #F2F2F2;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0;
}
.header-mobile .filter.toggle {
  opacity: 1;
  left: 0;
}

.header-desktop {
  display: none;
}
.header-desktop .header-top {
  background-color: #FFFFFF;
  border-bottom: 0.5px solid #BDBDBD;
  padding: 26px 0;
}
.header-desktop .header-top > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-desktop .header-top > .container .header-logo {
  width: 37.5%;
}
.header-desktop .header-top > .container .header-logo img {
  width: 102px;
}
.header-desktop .header-top > .container .header-disc {
  width: 62.5%;
  display: flex;
  justify-content: space-between;
}
.header-desktop .header-top > .container .header-disc__item {
  display: flex;
}
.header-desktop .header-top > .container .header-disc__item img {
  width: 24px;
  height: 24px;
}
.header-desktop .header-top > .container .header-disc__item .context {
  padding-left: 10px;
}
.header-desktop .header-top > .container .header-disc__item .context--bold {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #4F4F4F;
  margin-bottom: 6px;
}
.header-desktop .header-top > .container .header-disc__item .context--light {
  font-size: 1rem;
  line-height: 22px;
  color: #828282;
  margin-bottom: 0;
}
.header-desktop .header-top > .container .header-disc__item .context--light > a {
  font-size: 1rem;
  line-height: 22px;
  color: #828282;
  margin-bottom: 0;
}
.header-desktop .header-bottom .container .navbar {
  padding: 0;
  height: 77px;
}
.header-desktop .header-bottom .container .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-desktop .header-bottom .container .navbar ul .nav-item .nav-link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #828282;
  text-transform: uppercase;
  transition: all 0.4s;
  text-align: center;
}
.header-desktop .header-bottom .container .navbar ul .nav-item .nav-link.active {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  color: #F90729;
}
.header-desktop .header-bottom .container .navbar ul .nav-item .nav-link:hover {
  color: #F90729;
}

@media (min-width: 768px) {
  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;
  }
  .header-desktop .header-top {
    padding: 26px 1rem;
  }
  .header-desktop .header-bottom {
    padding: 0 1rem;
  }
}
@media (min-width: 1200px) {
  .header-desktop .header-top {
    padding: 26px 0;
  }
  .header-desktop .header-bottom {
    padding: 0;
  }
}
.footer .guarantee .top {
  background: url("/images/guarantee-bg.svg") center no-repeat;
  background-size: cover;
  padding: 2rem 0;
}
.footer .guarantee .top .container > .text-bold {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 38px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 52px;
  position: relative;
}
.footer .guarantee .top .container > .text-bold::before {
  content: "";
  width: 175px;
  height: 4px;
  background-color: #FFFFFF;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -15px;
}
.footer .guarantee .top .container > .text-light {
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 2rem;
}
.footer .guarantee .top .container .block .item {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .guarantee .top .container .block .item .img {
  margin-bottom: 0.5rem;
}
.footer .guarantee .top .container .block .item .text-light {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  color: #FFFFFF;
  text-align: center;
}
.footer .guarantee .top .container .block .item .text-bold {
  font-size: 1.25rem;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 0;
}
.footer .guarantee .top .container .block .item:last-child {
  margin-bottom: 0;
}
.footer .guarantee .bottom {
  background-color: #F90729;
  padding: 1rem 0.5rem;
}
.footer .guarantee .bottom .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .guarantee .bottom .container .left p {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 38px;
  color: #FFFFFF;
  text-align: center;
}
.footer .guarantee .bottom .container .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .guarantee .bottom .container .right p {
  margin-bottom: 0;
}
.footer .guarantee .bottom .container .right p a {
  margin-left: 1rem;
  font-size: 1.5rem;
  line-height: 38px;
  color: #FFFFFF;
}
.footer .after-sale {
  padding: 2rem 1rem;
  background-color: #F2F2F2;
}
.footer .after-sale .wrapper .title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 38px;
  color: #F90729;
  position: relative;
  margin-bottom: 52px;
}
.footer .after-sale .wrapper .title::before {
  content: "";
  width: 175px;
  height: 4px;
  background-color: #F90729;
  position: absolute;
  left: 0;
  bottom: -15px;
}
.footer .after-sale .wrapper .line {
  display: flex;
  margin-bottom: 1rem;
}
.footer .after-sale .wrapper .line .icon {
  position: relative;
}
.footer .after-sale .wrapper .line .icon .border {
  border: 0px !important;
}
.footer .after-sale .wrapper .line .icon .tick {
  position: absolute;
  top: 0;
  left: 9px;
}
.footer .after-sale .wrapper .line .context {
  padding-left: 1rem;
}
.footer .after-sale .wrapper .line .context .text-light {
  font-size: 1.25rem;
  line-height: 29px;
  color: #4F4F4F !important;
}
.footer .after-sale .wrapper .line .context .text-light .text-red {
  color: #F90729 !important;
  font-weight: bold;
}
.footer .after-sale .wrapper .line:last-child {
  margin-bottom: 0;
}
.footer .after-sale .wrapper .text-light-small {
  font-size: 14px;
  line-height: 19px;
  color: #4F4F4F;
}
.footer .after-sale .wrapper .text-light-small a {
  color: #F90729;
}
.footer .company {
  padding: 2rem 1rem;
}
.footer .company .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .company .line.line-1 {
  display: flex;
}
.footer .company .line.line-1 .right {
  display: flex;
}
.footer .company .line.line-1 .right .icon {
  margin-right: 10px;
}
.footer .company .line.line-1 .right .content .text-bold {
  font-weight: bold;
  font-size: 1rem;
  line-height: 22px;
  color: #4F4F4F;
  margin-bottom: 6px;
}
.footer .company .line.line-1 .right .content .text-light {
  font-size: 14px;
  line-height: 22px;
  color: #828282 !important;
  margin-bottom: 0;
}
.footer .company .line.line-1 .right .content .text-light .link-phone {
  font-size: 14px;
  line-height: 22px;
  color: #828282 !important;
  margin-bottom: 0.5rem;
}
.footer .company .line.line-2 {
  justify-content: space-around;
  align-items: flex-start;
}
.footer .company .line.line-2 .nav-link .link-light {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
  margin-bottom: 20px;
}
.footer .company .line.line-2 .nav-link .link-light.active {
  color: #F90729;
}
.footer .company .line.line-2 .nav-link .link-light:hover {
  color: #F90729;
  text-decoration: none;
}
.footer .company .line.line-3 {
  justify-content: flex-start;
}
.footer .company .line.line-3 .icon {
  margin-left: 2rem;
  cursor: pointer;
}
.footer .company .line.line-3 .icon:first-child {
  margin-left: 0;
}
.footer .copyright {
  height: 32px;
  background-color: #F90729;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .copyright p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer .guarantee .top {
    height: 538px;
    padding: 117px 0 92px;
  }
  .footer .guarantee .top .container .text-bold {
    font-size: 2rem;
  }
  .footer .guarantee .top .container .text-bold::before {
    bottom: -25px;
  }
  .footer .guarantee .top .container .block {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer .guarantee .top .container .block .item {
    margin-top: 2.5rem;
  }
  .footer .guarantee .top .container .block .item .img {
    margin-bottom: 27px;
  }
  .footer .guarantee .top .container .block .item:last-child {
    margin-bottom: 3rem;
  }
  .footer .guarantee .bottom {
    padding: 1rem;
  }
  .footer .guarantee .bottom .container {
    flex-direction: row;
    justify-content: space-between;
    height: 116px;
  }
  .footer .guarantee .bottom .container .right {
    padding-left: 1rem;
  }
  .footer .guarantee .bottom .container .right p a {
    font-size: 2rem;
  }
  .footer .after-sale {
    height: 460px;
    padding-top: 0;
    position: relative;
  }
  .footer .after-sale .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .after-sale .wrapper {
    max-width: 460px;
    padding-top: 87px;
  }
  .footer .after-sale .wrapper .title {
    margin-bottom: 66px;
    font-size: 2rem;
  }
  .footer .after-sale .wrapper .title::before {
    bottom: -25px;
  }
  .footer .after-sale .wrapper .title .line .context .text-light {
    font-size: 1.5rem;
  }
  .footer .after-sale .wrapper .line .context .text-light {
    font-size: 1.5rem;
    max-width: 460px;
  }
  .footer .after-sale .wrapper .text-light-small {
    font-size: 1rem;
  }
  .footer .after-sale .bg-left {
    width: calc(100% - 460px);
    height: 460px;
    background: url("/images/after-sale-bg.svg") left no-repeat;
    background-size: 1078px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer .company {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 54px 1rem 90px;
    max-width: 1200px;
    height: 270px;
    margin: auto;
  }
  .footer .company .line.line-1 .left img {
    margin-right: 12px;
  }
  .footer .company .line.line-2 {
    align-items: flex-start;
    justify-content: space-between;
    width: 40%;
    max-width: 350px;
  }
  .footer .company .line.line-2 .left,
.footer .company .line.line-2 .right {
    padding: 0 0.5rem;
  }
  .footer .company .line.line-2 .nav-link .link-light {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .footer .company .line.line-3 {
    max-width: 180px;
    width: 20%;
    justify-content: space-between;
  }
  .footer .company .line.line-3 .icon {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .footer .company {
    padding: 54px 0 90px;
  }
  .footer .company .line.line-1 .left img {
    margin-right: 42px;
  }
}
.btn-border-red {
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  color: #F90729;
  text-transform: uppercase;
  width: 182px;
  height: 47px;
  border: 2px solid #F90729;
  border-radius: 20px;
  background: none;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.btn-border-red:hover {
  background-color: #F90729;
  color: #FFFFFF;
}

.title-red-bold {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 38px;
  text-transform: uppercase;
  color: #F90729;
  margin-bottom: 2rem;
  position: relative;
}
.title-red-bold::before {
  content: "";
  width: 175px;
  height: 4px;
  background-color: #F90729;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  bottom: -15px;
}

.date-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.date-time .text-small {
  font-size: 12px;
  line-height: 24px;
  color: #666666;
  padding-left: 0.5rem;
}

html,
body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1200px;
  padding: 0;
  margin: auto;
}

.breadcrumb {
  height: 70px;
  background: url("/images/news/breadcrumb-bg.jpg") center no-repeat;
  background-size: cover;
  padding: 1rem;
}
.breadcrumb .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.breadcrumb .container .left {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 38px;
  color: #FFFFFF;
}
.breadcrumb .container .right {
  list-style: none;
}
.breadcrumb .container .right li {
  display: inline;
  font-size: 18px;
  color: #FFFFFF;
}
.breadcrumb .container .right li a {
  color: #FFFFFF;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.breadcrumb .container .right li a:hover {
  color: #F90729;
}
.breadcrumb .container .right li + li:before {
  padding: 2px;
  color: #FFFFFF;
  content: "/ ";
}

.search {
  padding: 1rem 1rem 0;
  background: #F2F2F2;
}
.search .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search .container input {
  width: 278px;
  height: 40px;
  font-size: 1rem;
  color: #BDBDBD;
  line-height: 19px;
  border: none;
  border-bottom: 1px solid #D1D0CE;
  background: transparent url("/images/news/icon_search_gray.svg") 99% no-repeat;
}
.search .container input::placeholder {
  font-size: 1rem;
  color: #BDBDBD;
  line-height: 19px;
}

.news {
  background: #F2F2F2;
  padding: 1rem;
}
.news .title-red-bold {
  text-transform: none;
  text-align: left;
}
.news .title-red-bold::before {
  left: 0;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.news .news-left .wrapper-content .item {
  margin-bottom: 2rem;
}
.news .news-left .wrapper-content .item .image img {
  width: 100%;
  cursor: pointer;
}
.news .news-left .wrapper-content .item .content .text-red {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #F90729;
  cursor: pointer;
}
.news .news-left .wrapper-content .item .content .text-black {
  font-size: 1rem;
  color: #000000;
  line-height: 19px;
  text-align: justify;
}
.news .news-left .wrapper-button {
  text-align: center;
  margin-bottom: 1rem;
}
.news .news-left .wrapper-button .btn-red {
  width: 100%;
  height: 50px;
  max-width: 240px;
  border: none;
  background-color: #F90729;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.news .news-left .wrapper-button .btn-red:hover {
  color: #F90729;
  background: none;
  border: 2px solid #F90729;
}
.news .news-right .top {
  margin-bottom: 1rem;
}
.news .news-right .top .wrapper {
  position: relative;
}
.news .news-right .top .wrapper img {
  width: 100%;
}
.news .news-right .top .wrapper .text-white {
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 19px;
  position: absolute;
  left: 10px;
  bottom: 30%;
}
.news .news-right .top .wrapper .date-time {
  position: absolute;
  left: 10px;
  bottom: 10%;
}
.news .news-right .top .wrapper .date-time img {
  width: 13px;
}
.news .news-right .top .wrapper .date-time .text-small {
  color: #FFFFFF;
}
.news .news-right .middle .item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}
.news .news-right .middle .item .image img {
  cursor: pointer;
}
.news .news-right .middle .item .content {
  padding-left: 1rem;
}
.news .news-right .middle .item .content .text-red {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #F90729;
  cursor: pointer;
}
.news .news-right .bottom .catagories li {
  margin-bottom: 0.5rem;
}
.news .news-right .bottom .catagories li a {
  width: 100%;
  font-size: 16px;
  line-height: 23px;
  position: relative;
  color: #666666;
}
.news .news-right .bottom .catagories li a::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 11px;
  position: absolute;
  top: 7px;
  right: 0;
  background: url("/images/news/arrow_right_red.svg") center no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .title-red-bold {
    font-size: 2rem;
    margin-bottom: 57px;
  }
  .title-red-bold::before {
    bottom: -25px;
  }

  .breadcrumb {
    height: 157px;
  }
  .breadcrumb .container .left {
    font-size: 2rem;
  }
  .breadcrumb .container .right li {
    font-size: 22px;
  }

  .search {
    padding-top: 60px;
  }

  .news {
    padding-bottom: 130px;
  }
  .news .container {
    display: flex;
  }
  .news .container .news-left {
    width: 75%;
  }
  .news .container .news-left .wrapper-content .item {
    display: flex;
    margin-bottom: 40px;
  }
  .news .container .news-left .wrapper-content .item .image {
    width: 33%;
    padding-right: 22px;
  }
  .news .container .news-left .wrapper-content .item .content {
    width: 55%;
  }
  .news .container .news-left .wrapper-button .btn-red {
    max-width: 380px;
    height: 60px;
    font-size: 22px;
  }
  .news .container .news-right {
    width: 25%;
  }
  .news .container .news-right .title-red-bold {
    font-size: 22px;
    margin-bottom: 2rem;
  }
  .news .container .news-right .title-red-bold::before {
    width: 83px;
    bottom: -14px;
  }
  .news .container .news-right .middle .item {
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .news .container .news-right .middle .item .image {
    width: 40%;
  }
  .news .container .news-right .middle .item .image img {
    width: 100%;
  }
  .news .container .news-right .middle .item .content {
    width: 60%;
    padding-left: 5px;
  }
  .news .container .news-right .middle .item .content .text-red {
    font-size: 14px;
  }
}

/*# sourceMappingURL=tin-tuc.css.map */
