.footer {
    .guarantee {
        .top {
            background: url('/images/guarantee-bg.svg') center no-repeat;
            background-size: cover;
            padding: 2rem 0;
            .container {
                >.text-bold {
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 38px;
                    text-align: center;
                    color: $white;
                    margin-bottom: 52px;
                    position: relative;
                    &::before {
                        content: "";
                        width: 175px;
                        height: 4px;
                        background-color: $white;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        bottom: -15px;
                    }
                }
                >.text-light {
                    font-size: 1rem;
                    line-height: 19px;
                    text-align: center;
                    color: $white;
                    margin-bottom: 2rem;
                }
                .block {
                    .item {
                        margin-bottom: 3rem;
                        @include flex(center,
                        center);
                        flex-direction: column;
                        .img {
                            margin-bottom: 0.5rem;
                        }
                        .text-light {
                            margin-bottom: 0.5rem;
                            font-size: 1.25rem;
                            color: $white;
                            text-align: center;
                        }
                        .text-bold {
                            font-size: 1.25rem;
                            font-weight: bold;
                            color: $white;
                            margin-bottom: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .bottom {
            background-color: $red;
            padding: 1rem 0.5rem;
            .container {
                @include flex(center,
                center);
                flex-direction: column;
                .left {
                    p {
                        font-weight: bold;
                        font-size: 1.5rem;
                        line-height: 38px;
                        color: $white;
                        text-align: center;
                    }
                }
                .right {
                    @include flex(center,
                    center);
                    p {
                        margin-bottom: 0;
                        a {
                            margin-left: 1rem;
                            font-size: 1.5rem;
                            line-height: 38px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .after-sale {
        padding: 2rem 1rem;
        background-color: $gray-6;
        .wrapper {
            .title {
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 38px;
                color: $red;
                position: relative;
                margin-bottom: 52px;
                &::before {
                    content: "";
                    width: 175px;
                    height: 4px;
                    background-color: $red;
                    position: absolute;
                    left: 0;
                    bottom: -15px;
                }
            }
            .line {
                display: flex;
                margin-bottom: 1rem;
                .icon {
                    position: relative;
                    .border {
                        border: 0px !important;
                    }
                    .tick {
                        position: absolute;
                        top: 0;
                        left: 9px;
                    }
                }
                .context {
                    padding-left: 1rem;
                    .text-light {
                        font-size: 1.25rem;
                        line-height: 29px;
                        color: $gray-2 !important;
                        .text-red {
                            color: $red !important;
                            font-weight: bold;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .text-light-small {
                font-size: 14px;
                line-height: 19px;
                color: $gray-2;
                a {
                    color: $red;
                }
            }
        }
    }
    .company {
        padding: 2rem 1rem;
        .line {
            @include flex(space-between,
            center);
            &.line-1 {
                display: flex;
                .right {
                    display: flex;
                    .icon {
                        margin-right: 10px;
                    }
                    .content {
                        .text-bold {
                            font-weight: bold;
                            font-size: 1rem;
                            line-height: 22px;
                            color: $gray-2;
                            margin-bottom: 6px;
                        }
                        .text-light {
                            font-size: 14px;
                            line-height: 22px;
                            color: $gray-3 !important;
                            margin-bottom: 0;
                            .link-phone {
                                font-size: 14px;
                                line-height: 22px;
                                color: $gray-3 !important;
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }
            &.line-2 {
                justify-content: space-around;
                align-items: flex-start;
                .nav-link {
                    .link-light {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        color: $gray-3;
                        margin-bottom: 20px;
                        &.active {
                            color: $red;
                        }
                        &:hover {
                            color: $red;
                            text-decoration: none;
                        }
                    }
                }
            }
            &.line-3 {
                justify-content: center;
                .icon {
                    margin-left: 2rem;
                    cursor: pointer;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .copyright {
        height: 32px;
        background-color: $red;
        @include flex(center,
        center);
        p {
            font-weight: 500;
            font-size: 1rem;
            line-height: 19px;
            color: $white;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        .guarantee {
            .top {
                height: 538px;
                padding: 117px 0 92px;
                .container {
                    .text-bold {
                        font-size: 2rem;
                        &::before {
                            bottom: -25px;
                        }
                    }
                    .block {
                        @include flex(space-around,
                        center);
                        .item {
                            margin-top: 2.5rem;
                            .img {
                                margin-bottom: 27px;
                            }
                            &:last-child {
                                margin-bottom: 3rem;
                            }
                        }
                    }
                }
            }
            .bottom {
                padding: 1rem;
                .container {
                    flex-direction: row;
                    justify-content: space-between;
                    height: 116px;
                    .right {
                        padding-left: 1rem;
                        p a {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
        .after-sale {
            height: 460px;
            padding-top: 0;
            position: relative;
            .container {
                @include flex(space-between,
                center);
            }
            .wrapper {
                max-width: 460px;
                padding-top: 87px;
                .title {
                    margin-bottom: 66px;
                    font-size: 2rem;
                    &::before {
                        bottom: -25px;
                    }
                    .line {
                        .context {
                            .text-light {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                .line {
                    .context {
                        .text-light {
                            font-size: 1.5rem;
                            max-width: 460px;
                        }
                    }
                }
                .text-light-small {
                    font-size: 1rem;
                }
            }
            .bg-left {
                width: calc(100% - 460px);
                height: 460px;
                background: url('/images/after-sale-bg.svg') left no-repeat;
                background-size: 1078px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .company {
            @include flex(space-between,
            flex-start);
            padding: 54px 1rem 90px;
            max-width: 1200px;
            height: 270px;
            margin: auto;
            .line {
                &.line-1 {
                    .left img {
                        margin-right: 12px;
                    }
                }
                &.line-2 {
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 40%;
                    max-width: 350px;
                    .left,
                    .right {
                        padding: 0 0.5rem;
                    }
                    .nav-link {
                        .link-light {
                            font-size: 1rem;
                            margin-bottom: 20px;
                        }
                    }
                }
                &.line-3 {
                    max-width: 180px;
                    width: 20%;
                    justify-content: space-between;
                    align-items: flex-start;
                    .icon {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        .company {
            padding: 54px 0 90px;
            .line.line-1 .left img {
                margin-right: 42px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer .after-sale .bg-left {
        width: calc(100% - ((100% - 1200px) / 2 + 460px));
    }
}