.header-mobile {
    .show {
        height: 60px;
        background-color: $white;
        padding: 0 19.4px 0 10px;
        @include flex(space-between, center);
        img {
            cursor: pointer;
        }
    }
    .filter {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 100%;
        opacity: 0;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        .toggle-menu {
            width: 75%;
            height: 100%;
            background-color: $white;
            float: right;
            position: relative;
            padding: 30px 20px 35px 20px;
            @include flex(space-between, unset);
            flex-direction: column;
            .x-img {
                width: 26px;
                position: absolute;
                top: 14px;
                left: -32px;
                cursor: pointer;
            }
            .navbar {
                padding: 0;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .nav-link {
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 19px;
                        color: $gray-3;
                        padding: 0;
                        text-transform: uppercase;
                        margin-bottom: 28px;
                        &.active {
                            color: $red;
                        }
                    }
                }
            }
            .social {
                .messenger {
                    width: 40px;
                    cursor: pointer;
                }
                .zalo {
                    margin-top: 13px;
                    width: 100%;
                    max-width: 220px;
                    height: 50px;
                    border-radius: 40px;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    -ms-border-radius: 40px;
                    -o-border-radius: 40px;
                    background-color: $blue;
                    padding: 0 0.5rem;
                    cursor: pointer;
                    @include flex(flex-start, center);
                    img {
                        width: 40px;
                        margin-right: 10px;
                    }
                    p {
                        color: $gray-6;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 0;
                    }
                }
                .phone {
                    @extend .zalo;
                    padding: 0 13px;
                    background-color: $red;
                    img {
                        width: 22px;
                        margin-right: 23px;
                    }
                    p a {
                        color: $gray-6;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        &.toggle {
            opacity: 1;
            left: 0;
        }
    }
}

.header-desktop {
    display: none;
    .header-top {
        background-color: $white;
        border-bottom: 0.5px solid $gray-4;
        padding: 26px 0;
        >.container {
            @include flex(space-between, center);
            .header-logo {
                width: 37.5%;
                img {
                    width: 102px;
                }
            }
            .header-disc {
                width: 62.5%;
                display: flex;
                justify-content: space-between;
                &__item {
                    display: flex;
                    img {
                        width: 24px;
                        height: 24px;
                    }
                    .context {
                        padding-left: 10px;
                        &--bold {
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 22px;
                            color: $gray-2;
                            margin-bottom: 6px;
                        }
                        &--light {
                            font-size: 1rem;
                            line-height: 22px;
                            color: $gray-3;
                            margin-bottom: 0;
                            >a {
                                font-size: 1rem;
                                line-height: 22px;
                                color: $gray-3;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        .container {
            .navbar {
                padding: 0;
                height: 77px;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    @include flex(space-between, center);
                    .nav-item {
                        .nav-link {
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 19px;
                            color: $gray-3;
                            text-transform: uppercase;
                            transition: all 0.4s;
                            text-align: center;
                            &.active {
                                -webkit-transition: all 0.4s;
                                -moz-transition: all 0.4s;
                                -ms-transition: all 0.4s;
                                -o-transition: all 0.4s;
                                color: $red;
                            }
                            &:hover {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .header-mobile {
        display: none;
    }
    .header-desktop {
        display: block;
        .header-top {
            padding: 26px 1rem;
        }
        .header-bottom {
            padding: 0 1rem;
        }
    }
}

@media (min-width: 1200px) {
    .header-desktop {
        .header-top {
            padding: 26px 0;
        }
        .header-bottom {
            padding: 0;
        }
    }
}