@import '../abstracts/variables';
.header {
    .header-top {
        height: 78px;
        background-color: $blue;
        .header-links {
            &--item {
                font-family: Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: $black;
            }
        }
    }
}