@import '../helpers/font';
@import '../helpers/reset';
@import '../helpers/variable';
@import '../helpers/mixin';
// Component
.btn-border-red {
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
    color: $red;
    text-transform: uppercase;
    width: 182px;
    height: 47px;
    border: 2px solid $red;
    border-radius: 20px;
    background: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    &:hover {
        background-color: $red;
        color: $white;
    }
}

html,
body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0;
    margin: auto;
}

.header-mobile {
    .show {
        height: 60px;
        background-color: $white;
        padding: 0 19.4px 0 10px;
        @include flex(space-between, center);
        img {
            cursor: pointer;
        }
    }
    .filter {
        position: fixed;
        z-index: 10;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        top: 0;
        left: 100%;
        opacity: 0;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        .toggle-menu {
            width: 75%;
            height: 100%;
            background-color: $white;
            float: right;
            position: relative;
            padding: 60px 20px 25px 20px;
            @include flex(space-between, unset);
            flex-direction: column;
            .x-img {
                width: 26px;
                position: absolute;
                top: 14px;
                left: -32px;
                cursor: pointer;
            }
            .navbar {
                padding: 0;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .nav-link {
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 19px;
                        color: $gray-3;
                        padding: 0;
                        text-transform: uppercase;
                        margin-bottom: 35px;
                        &.active {
                            color: $red;
                        }
                    }
                }
            }
            .social {
                .messenger {
                    width: 40px;
                    cursor: pointer;
                }
                .zalo {
                    margin-top: 13px;
                    width: 100%;
                    max-width: 220px;
                    height: 50px;
                    border-radius: 40px;
                    -webkit-border-radius: 40px;
                    -moz-border-radius: 40px;
                    -ms-border-radius: 40px;
                    -o-border-radius: 40px;
                    background-color: $blue;
                    padding: 0 0.5rem;
                    cursor: pointer;
                    @include flex(flex-start, center);
                    img {
                        width: 40px;
                        margin-right: 10px;
                    }
                    p {
                        color: $gray-6;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 0;
                    }
                }
                .phone {
                    @extend .zalo;
                    padding: 0 13px;
                    background-color: $red;
                    img {
                        width: 22px;
                        margin-right: 23px;
                    }
                    p a {
                        color: $gray-6;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 22px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        &.toggle {
            opacity: 1;
            left: 0;
        }
    }
}

.header-desktop {
    display: none;
    .header-top {
        background-color: #fff;
        border-bottom: 0.5px solid $gray-4;
        padding: 26px 0;
        >.container {
            @include flex(space-between, center);
            .header-logo {
                width: 37.5%;
                img {
                    width: 102px;
                }
            }
            .header-disc {
                width: 62.5%;
                display: flex;
                justify-content: space-between;
                &__item {
                    display: flex;
                    img {
                        width: 24px;
                        height: 24px;
                    }
                    .context {
                        padding-left: 10px;
                        &--bold {
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 22px;
                            color: $gray-2;
                            margin-bottom: 6px;
                        }
                        &--light {
                            font-size: 1rem;
                            line-height: 22px;
                            color: $gray-3;
                            margin-bottom: 0;
                            >a {
                                font-size: 1rem;
                                line-height: 22px;
                                color: $gray-3;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    .header-bottom {
        .container {
            .navbar {
                padding: 0;
                height: 77px;
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    @include flex(space-between, center);
                    .nav-item {
                        .nav-link {
                            font-weight: 500;
                            font-size: 1rem;
                            line-height: 19px;
                            color: $gray-3;
                            text-transform: uppercase;
                            transition: all 0.4s;
                            text-align: center;
                            &.active {
                                -webkit-transition: all 0.4s;
                                -moz-transition: all 0.4s;
                                -ms-transition: all 0.4s;
                                -o-transition: all 0.4s;
                                color: $red;
                            }
                            &:hover {
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
    }
}

.banner {
    height: 500px;
    background: url('/images/banner-home.svg') center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0;
    .wrapper {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 414px;
        color: $white;
        @include flex(center,
        center);
        flex-direction: column;
        text-align: center;
        .brand {
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 29px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .text-bold {
            font-weight: 900;
            font-size: 2rem;
            line-height: 38px;
            margin-bottom: 20px;
        }
        .text-light {
            font-size: 1rem;
            line-height: 19px;
            margin-bottom: 20px;
        }
    }
}

.slider {
    height: 130px;
    background-color: $white;
    .slick-list {
        text-align: center;
        margin-top: 1rem;
        .image {
            display: inline-block;
        }
        .brand-name {
            font-size: 1rem;
            line-height: 26px;
            color: $gray-3;
        }
    }
    .slick-arrow {
        display: none !important;
    }
    .slick-dots {
        @include flex(center,
        center);
        bottom: -16px;
        li {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $gray-5;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            &.slick-active {
                width: 1rem;
                height: 1rem;
                background-color: $red;
            }
            button::before {
                content: none;
            }
        }
    }
}

.service {
    background-color: #E5E5E5;
    padding: 2rem 0;
    .title h3 {
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 38px;
        text-transform: uppercase;
        color: $red;
        margin-bottom: 2rem;
        position: relative;
        &::before {
            content: '';
            width: 175px;
            height: 4px;
            background-color: $red;
            @include alignCenterX();
            bottom: -15px;
        }
    }
    .line {
        display: flex;
        margin-bottom: 1rem;
        flex-direction: column-reverse;
        .img {
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            &::after {
                content: '';
                width: 64px;
                height: 64px;
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include alignCenter();
            }
        }
        .content {
            background-color: $white;
            padding: 1rem;
            .text-bold {
                font-weight: bold;
                font-size: 22px;
                line-height: 26px;
                color: $gray-2;
                margin-bottom: 1rem;
            }
            .text-light {
                font-size: 1rem;
                line-height: 19px;
                color: $gray-2 !important;
                margin-bottom: 1rem;
            }
            .btn {
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                text-transform: none;
            }
        }
        &.line-1 {
            .img::after {
                background-image: url('/images/service-sub-1.svg');
            }
        }
        &.line-2 {
            flex-direction: column;
            .img::after {
                background-image: url('/images/service-sub-2.svg');
            }
        }
        &.line-3 {
            .img::after {
                background-image: url('/images/service-sub-3.svg');
            }
        }
        &.line-4 {
            flex-direction: column;
            .img::after {
                background-image: url('/images/service-sub-4.svg');
            }
        }
    }
}

.footer {
    .guarantee {
        .top {
            background: url('/images/guarantee-bg.svg') center no-repeat;
            background-size: cover;
            padding: 2rem 0;
            .container {
                >.text-bold {
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 38px;
                    text-align: center;
                    color: $white;
                    margin-bottom: 52px;
                    position: relative;
                    &::before {
                        content: "";
                        width: 175px;
                        height: 4px;
                        background-color: $white;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        -webkit-transform: translateX(-50%);
                        -moz-transform: translateX(-50%);
                        -ms-transform: translateX(-50%);
                        -o-transform: translateX(-50%);
                        bottom: -15px;
                    }
                }
                >.text-light {
                    font-size: 1rem;
                    line-height: 19px;
                    text-align: center;
                    color: $white;
                    margin-bottom: 2rem;
                }
                .block {
                    .item {
                        margin-bottom: 3rem;
                        @include flex(center,
                        center);
                        flex-direction: column;
                        .img {
                            margin-bottom: 0.5rem;
                        }
                        .text-light {
                            margin-bottom: 0.5rem;
                            font-size: 1.25rem;
                            color: $white;
                            text-align: center;
                        }
                        .text-bold {
                            font-size: 1.25rem;
                            font-weight: bold;
                            color: $white;
                            margin-bottom: 0;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .bottom {
            background-color: $red;
            padding: 1rem 0.5rem;
            .container {
                @include flex(center,
                center);
                flex-direction: column;
                .left {
                    p {
                        font-weight: bold;
                        font-size: 1.5rem;
                        line-height: 38px;
                        color: $white;
                        text-align: center;
                    }
                }
                .right {
                    @include flex(center,
                    center);
                    p {
                        margin-bottom: 0;
                        a {
                            margin-left: 1rem;
                            font-size: 1.5rem;
                            line-height: 38px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .after-sale {
        padding: 2rem 1rem;
        background-color: #E5E5E5;
        .wrapper {
            .title {
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 38px;
                color: $red;
                position: relative;
                margin-bottom: 52px;
                &::before {
                    content: "";
                    width: 175px;
                    height: 4px;
                    background-color: $red;
                    position: absolute;
                    left: 0;
                    bottom: -15px;
                }
            }
            .line {
                display: flex;
                margin-bottom: 1rem;
                .icon {
                    position: relative;
                    .border {
                        border: 0px !important;
                    }
                    .tick {
                        position: absolute;
                        top: 0;
                        left: 9px;
                    }
                }
                .context {
                    padding-left: 1rem;
                    .text-light {
                        font-size: 1.25rem;
                        line-height: 29px;
                        color: $gray-2 !important;
                        .text-red {
                            color: $red !important;
                            font-weight: bold;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .text-light-small {
                font-size: 14px;
                line-height: 19px;
                color: $gray-2;
                a {
                    color: $red;
                }
            }
        }
    }
    .company {
        padding: 2rem 1rem;
        .line {
            @include flex(space-between,
            center);
            &.line-1 {
                display: flex;
                .right {
                    display: flex;
                    .icon {
                        margin-right: 10px;
                    }
                    .content {
                        .text-bold {
                            font-weight: bold;
                            font-size: 1rem;
                            line-height: 22px;
                            color: $gray-2;
                            margin-bottom: 6px;
                        }
                        .text-light {
                            font-size: 14px;
                            line-height: 22px;
                            color: $gray-3 !important;
                            margin-bottom: 0;
                            .link-phone {
                                font-size: 14px;
                                line-height: 22px;
                                color: $gray-3 !important;
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }
            &.line-2 {
                justify-content: space-around;
                .nav-link {
                    .link-light {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 19px;
                        color: $gray-3;
                        margin-bottom: 20px;
                        &.active {
                            color: $red;
                        }
                        &:hover {
                            color: $red;
                            text-decoration: none;
                        }
                    }
                }
            }
            &.line-3 {
                justify-content: flex-start;
                .icon {
                    margin-left: 2rem;
                    cursor: pointer;
                    &:first-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .copyright {
        height: 32px;
        background-color: $red;
        @include flex(center,
        center);
        p {
            font-weight: 500;
            font-size: 1rem;
            line-height: 19px;
            color: $white;
            margin-bottom: 0;
        }
    }
}

// Responsive
@media (min-width: 576px) {}

@media (min-width: 768px) {
    .header-mobile {
        display: none;
    }
    .header-desktop {
        display: block;
        .header-top {
            padding: 26px 1rem;
        }
        .header-bottom {
            padding: 0 1rem;
        }
    }
    .banner {
        .wrapper {
            .brand {
                font-size: 1.75rem;
            }
            .text-bold {
                font-size: 2.5rem;
            }
        }
    }
    .slider {
        height: 262px;
        margin-bottom: 0 !important;
        .slick-list {
            margin-top: 0;
            padding-top: 42px;
            .brand-name {
                font-size: 22px;
            }
        }
        .slick-dots {
            bottom: 40px;
        }
    }
    .service {
        padding: 90px 0 100px;
        .title {
            margin-bottom: 97px;
            h3 {
                font-size: 2rem;
                &::before {
                    bottom: -25px;
                }
            }
        }
        .line {
            flex-direction: row;
            margin-bottom: 45px;
            .img {
                overflow: hidden;
                img {
                    min-width: 100%;
                    width: max-content;
                    height: 100%;
                }
            }
            .content {
                width: 50%;
                min-height: 300px;
                position: relative;
                .wrapper {
                    padding: 1rem;
                    max-width: 412px;
                    width: 100%;
                    @include alignCenter();
                    .text-light {
                        margin-bottom: 45px;
                    }
                }
            }
            .img {
                width: 50%;
            }
            &.line-2,
            &.line-4 {
                flex-direction: row;
            }
        }
    }
    .footer {
        .guarantee {
            .top {
                height: 538px;
                padding: 117px 0 92px;
                .container {
                    .text-bold {
                        font-size: 2rem;
                        &::before {
                            bottom: -25px;
                        }
                    }
                    .block {
                        @include flex(space-around,
                        center);
                        .item {
                            margin-top: 2.5rem;
                            .img {
                                margin-bottom: 27px;
                            }
                            &:last-child {
                                margin-bottom: 3rem;
                            }
                        }
                    }
                }
            }
            .bottom {
                padding: 1rem;
                .container {
                    flex-direction: row;
                    justify-content: space-between;
                    height: 116px;
                    .right {
                        padding-left: 1rem;
                        p a {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
        .after-sale {
            height: 460px;
            padding-top: 0;
            position: relative;
            .container {
                @include flex(space-between,
                center);
            }
            .wrapper {
                max-width: 460px;
                padding-top: 87px;
                .title {
                    margin-bottom: 66px;
                    font-size: 2rem;
                    &::before {
                        bottom: -25px;
                    }
                    .line {
                        .context {
                            .text-light {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
                .line {
                    .context {
                        .text-light {
                            font-size: 1.5rem;
                            max-width: 460px;
                        }
                    }
                }
                .text-light-small {
                    font-size: 1rem;
                }
            }
            .bg-left {
                width: calc(100% - 460px);
                height: 460px;
                background: url('/images/after-sale-bg.svg') left no-repeat;
                background-size: 1078px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .company {
            @include flex(space-between,
            flex-start);
            padding: 54px 1rem 90px;
            max-width: 1200px;
            height: 270px;
            margin: auto;
            .line {
                &.line-1 {
                    .left img {
                        margin-right: 48px;
                    }
                }
                &.line-2 {
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 22%;
                    max-width: 300px;
                    .nav-link {
                        .link-light {
                            font-size: 1rem;
                            margin-bottom: 20px;
                        }
                    }
                }
                &.line-3 {
                    max-width: 180px;
                    width: 20%;
                    justify-content: space-between;
                    .icon {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    .header-desktop {
        .header-top {
            padding: 26px 0;
        }
        .header-bottom {
            padding: 0;
        }
    }
    .banner {
        height: 850px;
    }
    .footer {
        .company {
            padding: 54px 0 90px;
        }
    }
}

// sass --watch scss/pages/index.scss:css/index.css